
body { 
  
   background-color: rgb(134, 182, 134);
   
    }
picture {
  float: left;
  height: 30px;
  width: 40px;
}
    button,
    div,
    input {
      margin: 10px;
      color: darkslategrey;
      text-align: center;
    }

   
    
    